<section
  routerLink="/userProfile/{{ user.id }}"
  class="m-8 min-h-80 w-64 bg-[#20354b] rounded-2xl px-8 py-6 shadow-lg cursor-pointer"
  style="font-family: Montserrat"
>
  <div class="mt-6 w-fit mx-auto">
    <img
      src="../../../assets/image.png"
      class="rounded-full w-28"
      alt="profile picture"
      srcset=""
    />
  </div>

  <div class="mt-8">
    <h2 class="text-white font-bold text-2xl tracking-wide">
        {{ user.name }}
    </h2>
  </div>
  <p class="text-emerald-400 font-semibold mt-2.5">{{ user.username }}</p>
</section>
